<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OCRMSupportForce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://login.salesforce.com/services/Soap/c/34.0/0DF500000008ZAv"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SalesForceService.Soap" name="Soap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <OCRMSupportForce.Properties.Settings>
      <setting name="OCRMSupportForce_SForceWebReference_SforceService"
        serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/34.0/0DF500000008ZAv</value>
      </setting>
    </OCRMSupportForce.Properties.Settings>
  </applicationSettings>
</configuration>
